SPRING_APPLICATION_NAME=hello-world
SERVER_PORT=8088

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/app
SPRING_DATASOURCE_USERNAME=app
SPRING_DATASOURCE_PASSWORD=app

SPRING_JPA_HIBERNATE_DDL_AUTO=update
